* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
width: 100%;
  height: 100%;
}
.contact{
    width: 300px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(201, 198, 198);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 30px;
    
}
.logo{
    display: flex;
    margin: -80px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: aliceblue;
}